mixin navbar()
  -
    const items = [
      //{ title: "Train Finder", path: "/go", icon: "uil:directions" },
      //{ title: "Live Map", path: "/map", icon: "uil:map" },

      // this is redundant
      { title: "Home", path: "/", icon: "heroicons-outline:home" },

      { title: "Lines", path: "/lines", icon: "uil:code-branch" },
      { title: "About", path: "/about", icon: "uil:info-circle" }
    ]

  #navbar-housing
    nav#navbar
      #navbar-bg.blend
      #navbar-content.page-centered
        button#navbar-menu-button
          span(class="iconify", data-icon="uil:bars")
        a(href="/")#navbar-appname-button
          include favicon.pug
          +favicon(1.25)#navbar-favicon
          #navbar-appname-container
            h1#navbar-appname TrainQuery
            p#navbar-appname-beta-tag BETA
        #navbar-desktop-links
          each val in items
            a(href=val.path)
              span(class="iconify", data-icon=val.icon)
              p= val.title
        .flex-grow
        button#navbar-search-full-button
          span(class="iconify", data-icon="uil:search")
          p Search
        button#navbar-search-icon-button
          span(class="iconify", data-icon="uil:search", aria-label="Search")
        a(href="/settings")#navbar-settings-button
          span(class="iconify", data-icon="uil:setting", aria-label="Settings")
    #navbar-expandables
      #navbar-expandable-menu-container
        #navbar-expandable-menu.page-centered
          each val in items
            a(href=val.path)
              span(class="iconify", data-icon=val.icon)
              p= val.title
      #navbar-expandable-search-container
        #navbar-expandable-search.page-centered
          input#navbar-expandable-search-input(type="search", name="", autocomplete="off", placeholder="Search...")
          .divider
          .results
            a(href="/drouin").result
              span(class="iconify", data-icon="ph:train-simple-bold")
              .column
                .one-line
                  p.title Drouin
                .one-line
                  p.subtitle Gippsland line
            a(href="/melbournecentral").result
              span(class="iconify", data-icon="uil:map-marker")
              .column
                .one-line
                  p.title Melbourne Central
                .one-line
                  p.subtitle 11 train lines
            a(href="/richmond").result
              span(class="iconify", data-icon="uil:map-pin")
              .column
                .one-line
                  p.title Richmond
                .one-line
                  p.subtitle 9 train lines
            a(href="/lines/line?id=6").result
              span(class="iconify", data-icon="uil:slider-h-range")
              .column
                .one-line
                  p.title Gippsland line
                .one-line
                  p.subtitle Southern Cross to Bairnsdale, via Traralgon
            a(href="/lines/line?id=4").result
              span(class="iconify", data-icon="uil:code-branch")
              .column
                .one-line
                  p.title Cranbourne line
                .one-line
                  p.subtitle Cranbourne to Flinders Street, via the City Loop
            a(href="/settings").result
                span(class="iconify", data-icon="uil:setting")
                .column
                  .one-line
                    p.title Settings
            a(href="/about").result
                span(class="iconify", data-icon="uil:info-circle")
                .column
                  .one-line
                    p.title About
