mixin navbar()
  -
    const items = [
      //{ title: "Home", path: "/", icon: "heroicons-outline:home" },
      { title: "Train Finder", path: "/go", icon: "uil:directions" },
      { title: "Live Map", path: "/map", icon: "uil:map" },
      { title: "About", path: "/about", icon: "uil:info-circle" }
    ]

  #navbar-housing
    nav#navbar
      #navbar-bg.blend
      #navbar-content.page-centered
        button#navbar-menu-button
          span(class="iconify", data-icon="uil:bars")
        a(href="/")#navbar-appname-button
          include favicon.pug
          +favicon(1.25)#navbar-favicon
          #navbar-appname-container
            h1#navbar-appname TrainQuery
            p#navbar-appname-beta-tag BETA
        #navbar-desktop-links
          each val in items
            a(href=val.path)
              span(class="iconify", data-icon=val.icon)
              p= val.title
        .flex-grow
        button#navbar-search-full-button
          span(class="iconify", data-icon="uil:search")
          p Search
        button#navbar-search-icon-button
          span(class="iconify", data-icon="uil:search", aria-label="Search")
        a(href="/settings")#navbar-settings-button
          span(class="iconify", data-icon="uil:setting", aria-label="Settings")
    #navbar-expandables
      #navbar-expandable-menu-container
        #navbar-expandable-menu.page-centered
          each val in items
            a(href=val.path)
              span(class="iconify", data-icon=val.icon)
              p= val.title
      #navbar-expandable-search-container
        #navbar-expandable-search.page-centered
          input#navbar-expandable-search-input(type="search", name="", autocomplete="off", placeholder="Search...")
          .divider
          .results
            each val in [0, 0, 0]
              a(href="/drouin").result
                span(class="iconify", data-icon="ph:train-simple-bold")
                .column
                  .one-line
                    p.title Drouin
                  .one-line
                    p.subtitle Gippsland line
            a(href="/settings").result
                span(class="iconify", data-icon="uil:setting")
                .column
                  .one-line
                    p.title Settings
            a(href="/about").result
                span(class="iconify", data-icon="uil:info-circle")
                .column
                  .one-line
                    p.title About
            each val in [0]
              a(href="/drouin").result
                span(class="iconify", data-icon="ph:train-simple-bold")
                .column
                  .one-line
                    p.title Drouin
                  .one-line
                    p.subtitle Gippsland line
