doctype html
html(lang="en")
  head
    mixin head-content(title, stylesheet, bundle, description, canonical)
      meta(charset="UTF-8")
      meta(http-equiv="X-UA-Compatible", content="IE=edge")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      title=`${title} | TrainQuery`
      script.
        window.apiDomain = !{JSON.stringify(apiDomain)};
      link(rel="stylesheet", href="/css/page-template.css")
      if stylesheet != null
        link(rel="stylesheet", href=stylesheet)

      if description
        meta(name="description", content=description)
      else
        meta(name="robots", content="noindex")

      if canonical
        link(rel="canonical", href=canonical)

      link(rel="shortcut icon", href="/favicon.svg")
      link(rel="manifest", href="/manifest.json")
      link(rel="apple-touch-icon", href="/icons/favicon-apple-192.png")
      meta(name="theme-color", content="#000000")

      script(src="/js/page-template.js", defer)
      if bundle != null
        script(src=bundle, defer)
      script(defer).
        if ("serviceWorker" in navigator) {
          navigator.serviceWorker.register("/melbpt-sw.js");
        }

    block head
  body
    script.
      var theme = window.localStorage.getItem("melbpt-theme");
      if (theme == "light" || theme == "dark") {
        window.document.documentElement.classList.add("light");
      }
      if (theme == "dark") {
        window.document.documentElement.classList.add("dark");
      }
    a(href="#content")#skip-to-content
      p Skip to content
    include navbar.pug
    +navbar()
    main#content
      block body
    include footer.pug
    +footer()
    block dialogs
