doctype html
html(lang="en")
  head
    mixin head-content(title, stylesheet, bundle, description, canonical)
      meta(charset="UTF-8")
      meta(http-equiv="X-UA-Compatible", content="IE=edge")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")

      title=`${title} | TrainQuery`
      meta(property="og:title", content=`${title} | TrainQuery`)
      meta(property="og:type", content="website")

      script.
        window.apiDomain = !{JSON.stringify(apiOrigin)};

      style.

        @font-face {
          font-family: "Poppins";
          font-style: normal;
          font-weight: 400;
          font-display: swap;
          src: url("/!{publicHashString}/poppins-400.woff2") format("woff2");
        }
        @font-face {
          font-family: "Poppins";
          font-style: normal;
          font-weight: 500;
          font-display: swap;
          src: url("/!{publicHashString}/poppins-500.woff2") format("woff2");
        }
        @font-face {
          font-family: "Poppins";
          font-style: normal;
          font-weight: 700;
          font-display: swap;
          src: url("/!{publicHashString}/poppins-700.woff2") format("woff2");
        }

      link(rel="stylesheet", href=`/${publicHashString}/css/page-template.css`)
      if stylesheet != null
        link(rel="stylesheet", href=`/${publicHashString}/css/${stylesheet}`)

      if description
        meta(name="description", content=description)
        meta(property="og:description", content=description)
      else
        meta(name="robots", content="noindex")

      if canonical
        link(rel="canonical", href=`https://trainquery.com${canonical}`)
        meta(property="og:url", content=`https://trainquery.com${canonical}`)

      link(rel="shortcut icon", href="/favicon.svg")
      link(rel="manifest", href="/manifest.json")
      link(rel="apple-touch-icon", href="/icons/favicon-apple-192.png")
      meta(name="theme-color", content="#000000")
      meta(property="og:image", content=`https://trainquery.com/${publicHashString}/img/ogimage.png`)
      meta(property="og:image:width", content="1200")
      meta(property="og:image:height", content="630")
      meta(name="twitter:card", content="summary_large_image")

      script(src=`/${publicHashString}/js/page-template.js`, defer)
      if bundle != null
        script(src=`/${publicHashString}/js/${bundle}`, defer)
      script(defer).
        if ("serviceWorker" in navigator) {
          navigator.serviceWorker.register("/melbpt-sw.js");
        }

    block head
  body
    script.
      const theme = window.localStorage.getItem("melbpt-theme");
      if (theme == "light") {
        window.document.documentElement.classList.add("light");
      }
      if (theme == "dark") {
        window.document.documentElement.classList.add("dark");
      }
    a(href="#content")#skip-to-content
      p Skip to content
    include navbar.pug
    +navbar()
    main#content
      block body
    include footer.pug
    +footer()
    block dialogs
