extends page-template/page-template.pug

block head
  script.
    window.lineID = !{JSON.stringify(id)};
  +head-content(
    `${name} line`,
    "line.css",
    "line.js",
    `Find out which stops are on the ${name} line with TrainQuery.`,
    `/lines/${id.toFixed()}`)

block body
  .page-centered
    h1=`${name} line`
    if service == "suburban"
      p Suburban train line
    if service == "regional"
      p Regional train line
    h2 Stops
    p The #{name} line serves <b>#{stopCount}</b> stops.
    #line-diagram-container-loading
      include loading-spinner-svg.pug
      +loading-spinner-svg.loading-spinner()
    #line-diagram-container.gone
