extends page-template/page-template.pug

block head
  script.
    window.stopID = !{JSON.stringify(id)};
  +head-content(
    name,
    "/css/stop.css",
    "/js/stop.js",
    `Lookup train departures at ${ name } with TrainQuery.`)

block body
  .page-centered
    h1= name
    .lines
      for line in lines
        a.line(href=`/lines/${line.id.toFixed()}` class=`accent-${line.color}`)
          p= line.name
    #controls
      +control("time", "uil:clock")
        .centerer
          #time-controls-mode-pickers.picker-group
            label
              input#time-controls-mode-now(type="radio", name="time-controls-mode", value="Now", autocomplete="off")
              .picker-button
                p Now
            label
              input#time-controls-mode-after(type="radio", name="time-controls-mode", value="After", autocomplete="off")
              .picker-button
                p After
            label
              input#time-controls-mode-before(type="radio", name="time-controls-mode", value="Before", autocomplete="off")
              .picker-button
                p Before
          #time-controls-ui-now.gone
            p Showing upcoming trains and updating the list as they depart.
          #time-controls-ui-datetime
            .calendar
              .weekdays
                p M
                p T
                p W
                p T
                p F
                p S
                p S
              .month
                h3 DECEMBER 2020
                .days
                  .day
                    p 22
                  .day
                    p 23
                  .day.today
                    p 24
                  .day
                    p 25
                  .day.selected
                    p 26
                  .day
                    p 27
                  .day
                    p 28
                  .day
                    p 29
                  .day
                    p 30
                  .day
                    p 31
                  .day.empty
                  .day.empty
                  .day.empty
                  .day.empty
              .month
                h3 JANUARY 2021
                .days
                  .day.empty
                  .day.empty
                  .day.empty
                  .day
                    p 1
                  .day
                    p 2
                  .day
                    p 3
                  .day
                    p 4
            .time-select
              .select-wrapper
                select(autocomplete="off")
                  option 1
                  option 2
                  option 3
                  option 4
                  option 5
                  option 6
                  option 7
                  option 8
                  option 9
                  option 10
                  option 11
                  option 12
                .select-highlight
                  .select-arrow
              p.separator :
              .select-wrapper
                select(autocomplete="off")
                  option 00
                  option 05
                  option 10
                  option 15
                  option 20
                  option 25
                  option 30
                  option 35
                  option 40
                  option 45
                  option 50
                  option 55
                .select-highlight
                  .select-arrow
              #time-controls-ampm-pickers.picker-group-subtle
                label
                  input#time-controls-mode-now(type="radio", name="time-controls-ampm", value="Now", autocomplete="off")
                  .picker-button
                    p AM
                label
                  input#time-controls-mode-after(type="radio", name="time-controls-ampm", value="After", autocomplete="off")
                  .picker-button
                    p PM
          button#time-controls-submit-button
            span.iconify(data-icon="uil:check")
            p Set
      +control("filter", "uil:filter")
        h1 Hello.
    #departures

mixin control(name, icon)
  .button-dropdown-container
    button(id=`${name}-controls-button`)
      span.iconify(data-icon=icon)
      .one-line
        p Now
      .flex-grow
      span.iconify.dropdown(data-icon="uil:angle-down")
    div(id=`${name}-controls-dropdown`)
      .dropdown-background
      .dropdown-content
        block
