extends page-template/page-template.pug

block head
  script.
    window.stopID = !{JSON.stringify(id)};
  +head-content(
    name,
    "/css/stop.css",
    "/js/stop.js",
    `Lookup train departures at ${name} with TrainQuery.`,
    `https://trainquery.com/${stopUrl}`)

block body
  .page-centered
    h1= name
    .lines
      for line in lines
        if !line.specialEventsOnly || lines.filter(l => !l.specialEventsOnly).length == 0
          a.line(href=`/lines/${line.id.toFixed()}` class=`accent-${line.color}`)
            p= line.name
    #controls
      +control("time", "uil:clock")
        .centerer
          #time-controls-mode-pickers.picker-group
            label
              input#time-controls-mode-now(type="radio", name="time-controls-mode", autocomplete="off")
              .picker-button
                p Now
            label
              input#time-controls-mode-after(type="radio", name="time-controls-mode", autocomplete="off")
              .picker-button
                p After
            label
              input#time-controls-mode-before(type="radio", name="time-controls-mode", autocomplete="off")
              .picker-button
                p Before
          #time-controls-ui-now.gone
            p Showing upcoming trains and updating the list as they depart.
          #time-controls-ui-datetime
            #time-controls-calendar
            .time-select
              .select-wrapper
                select#time-controls-hour-select(autocomplete="off")
                .select-highlight
                  .select-arrow
              p.separator :
              .select-wrapper
                select#time-controls-minute-select(autocomplete="off")
                .select-highlight
                  .select-arrow
              #time-controls-ampm-pickers.picker-group-subtle
                label
                  input#time-controls-am(type="radio", name="time-controls-ampm", autocomplete="off")
                  .picker-button
                    p AM
                label
                  input#time-controls-pm(type="radio", name="time-controls-ampm", autocomplete="off")
                  .picker-button
                    p PM
          button#time-controls-submit-button
            span.iconify(data-icon="uil:check")
            p Set
      +control("filter", "uil:filter")
        #filter-controls-menu
          button#filter-controls-default-button
            span.iconify(data-icon="uil:favorite")
            p Default
          button#filter-controls-all-button
            span.iconify(data-icon="uil:ban")
            p No grouping
          button#filter-controls-direction-button
            span.iconify(data-icon="uil:sign-alt")
            p By direction
          button#filter-controls-line-button
            span.iconify(data-icon="uil:code-branch")
            p By line
          button#filter-controls-platform-button
            span.iconify(data-icon="uil:layers")
            p By platform
          button#filter-controls-service-button
            span.iconify(data-icon="lucide:train")
            p By type
        #filter-controls-options.gone
          button#filter-controls-options-back-button
            span.iconify(data-icon="uil:arrow-left")
            p Back
          #filter-controls-options-list
        .separator
        label.switch
          input#filter-controls-arrivals-switch(type="checkbox", autocomplete="off")
          div
            .switch-graphic
            .switch-content
              p Show arrivals
        label.switch
          input#filter-controls-sdo-switch(type="checkbox", autocomplete="off")
          div
            .switch-graphic
            .switch-content
              p Show V/Line trains that aren't taking passengers
    #departures

mixin control(name, icon)
  .button-dropdown-container&attributes(attributes)
    button(id=`${name}-controls-button`)
      span.iconify(data-icon=icon)
      .one-line
        p(id=`${name}-controls-button-text`)
      .flex-grow
      span.iconify.dropdown(data-icon="uil:angle-down")
    div(id=`${name}-controls-dropdown`)
      .dropdown-background
      .dropdown-content
        block
