extends page-template/page-template.pug

block head
  script.
    window.stopID = !{JSON.stringify(id)};
  +head-content(
    name,
    "/css/stop.css",
    "/js/stop.js",
    `Lookup train departures at ${ name } with TrainQuery.`)

block body
  .page-centered
    h1= name
    .lines
      for line in lines
        a.line(href=`/lines/${line.id.toFixed()}` class=`accent-${line.color}`)
          p= line.name
    #controls
      .button-dropdown-container
        button#time-controls-button
          span.iconify(data-icon="uil:clock")
          .one-line
            p Now
          .flex-grow
          span.iconify.dropdown(data-icon="uil:angle-down")
        #time-controls-dropdown
          h1 Hello.
      .button-dropdown-container
        button#filter-controls-button
          span.iconify(data-icon="uil:filter")
          .one-line
            p Grouped by direction
          .flex-grow
          span.iconify.dropdown(data-icon="uil:angle-down")
        #filter-controls-dropdown
          h1 Hello.

    #departures
